{% extends 'base.html'%}
{% block title %}About{% endblock title %}
{% block body%}
<div class="container-fluid px-0">
<img src="\static\3.avif" class="d-block w-100 mx-0" alt="...">
<h2 style="position: absolute; top: 100px">PS LOGISTICS EXPRESS DISTRIBUTES PROTECTIVE EQUIPMENT TO ITS FRONTLINE 
    STAFF KEEPING CLIENT'S SUPPLY CHAINS MOVING</h2>
    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
          <img src="\static\7.jpeg" class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">MULTI-USER LOGISTICS FACILITIES</h5>
          <p>We can provide shared warehouse solutions in as many as 40 
            countries worldwide. This means that you can benefit from the
            economies of scale of our multi-user logistics sites, because
            you only pay for the space you use from one month to the next.
            Many of our clients ask us to replicate the processes of an
            existing facility already run by them in another country as
            part of their Global expansion strategy. We are experts at 
            managing projects of this type, and such is our reach that 
            we can rapidly provide multi-channel logistics solutions 
            almost anywhere in the world, with careful project management.
        </p>
        <button type="button" class="btn btn-info">Learn More</button>
        </div>
      </div>
</div>
{% endblock body%}

  